<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <filter>
  		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>ICare</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.ISST_iCare_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ICare</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.ISST_form_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/nuevoPaciente</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ShowPatient</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.Show_Patient_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePatient</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.Delete_Patient_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPatient</servlet-name>
    <url-pattern>/verPaciente</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>NewMedicalData</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.New_MedicalData_Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMedicalData</servlet-name>
    <url-pattern>/nuevosdatosmedicos</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>NewRelative</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.New_Relative_Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRelative</servlet-name>
    <url-pattern>/nuevocuidador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePatient</servlet-name>
    <url-pattern>/borrarPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearAviso</servlet-name>
    <url-pattern>/crearAviso</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CrearAviso</servlet-name>
    <servlet-class>es.upm.dit.isst.icare.ISST_NuevoAviso_Servlet</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>